.floating-ai-action-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  background: #f5c518;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  /* font-size: 2.2rem; */
  box-shadow: 0 6px 24px #2223;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, transform 0.2s, background 0.2s;
}
.floating-ai-action-btn:hover {
  box-shadow: 0 10px 32px #f5c51855;
  transform: scale(1.08);
  background: #f5c518;
  color: #f5c518;
}
.floating-ai-action-btn img,
.floating-ai-action-btn svg {
  width: 32px;
  height: 32px;
}
